.icon { display:inline-block; background-image: url(~assets/img/spr.png); background-size:142px 48px; }
.icon-huawei_hover { width: 66px; height: 48px; background-position: 0px 0px; }
.icon-tengxun_hover { width: 66px; height: 48px; background-position: -76px 0px; }